node_modules/
allure-report/
allure-results/
allure-results-*/
allure-results-*.zip
allure-global/
packages/*/allure-global/
.idea/
.allure/
playwright-report/
cypress/videos/
cypress/screenshots/
packages/*/allure-results/
packages/*/allure-results-*/
packages/*/cypress/videos/
packages/*/cypress/screenshots/
.last-run.json
dist/
*.log
.DS_Store
test-results/
packages/*/test-results/
